/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */

@layer styleguide {

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    .primary-detail {
        background-color: #002646;
    }

    .secondary-detail {
        background-color: #BF9A5D;
    }

    .third-detail {
        background-color: #8FB8C9;
    }

    .main-background {
        background-color: #FFFFFF;
        border: 1px solid;
    }

    /* Typografie */


    /* Formulier elementen */

}