/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */


@font-face {
  font-family: Amoria;
  src: url('AMORIA.otf');
}

@font-face {
  font-family: Inter;
  src: url('Inter-VariableFont_opsz\,wght.ttf');
}

@layer styleguide {

    :root{
        /* colours */
        --primary-detail-color:hsl(207, 100%, 14%);
        --secondary-detail-color:hsl(37, 43%, 56%);
        --third-detail-color:hsl(198, 35%, 67%);
        --main-background-color:hsl(0, 0%, 100%);
        --text-color-lightbg:hsl(208, 100%, 10%);
        --text-color-darkbg:hsl(0, 0%, 100%);

<<<<<<< HEAD
        /* fonts */

        --ff-main: "Inter";
        --ff-decorative: "Amoria";

        /* font size */

        --display-large:clamp(3.8rem, -0.825rem + 14.8vw, 7.5rem);
        --display-medium:clamp(2.8rem, -0.325rem + 10vw, 5.3rem);
        --heading-large:clamp(2.3rem, 1.3rem + 3.2vw, 3.1rem);
        --heading-medium:clamp(1.25rem, -0.0625rem + 4.2vw, 2.3rem);
        --heading-small:clamp(1.1rem, 0.6rem + 1.6vw, 1.5rem);
        --body-medium:clamp(1.1rem, 0.9125rem + 0.6vw, 1.25rem);
        --body-small:clamp(1rem, 0.875rem + 0.4vw, 1.1rem);

=======
        --ff-main: "Inter";
        --ff-decorative: "Amoria";
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304

    }

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    .primary-detail {
        background-color: var(--primary-detail-color);
    }

    .secondary-detail {
        background-color: var(--secondary-detail-color);
    }

    .third-detail {
        background-color: var(--third-detail-color);
    }

    .main-background {
        background-color: var(--main-background-color);
        border: 1px solid;
    }

    .text-lightbg{
        background-color: var(--text-color-lightbg);
    }

    .text-darkbg{
        background-color: var(--text-color-darkbg);
        border: 1px solid;
    }

    /* Typografie */

    .display-large {
        font-family: var(--ff-decorative);
<<<<<<< HEAD
        font-size: var(--display-large);
=======
        font-size: 120px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .display-medium {
        font-family: var(--ff-decorative);
<<<<<<< HEAD
        font-size: var(--display-medium);
=======
        font-size: 85px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .header-large {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--heading-large);
=======
        font-size: 50px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
        
    }

    .header-medium {
        font-family: var(--ff-main);
        font-size: 38px;
        font-weight: var(--heading-medium);
    }

    .header-small {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--heading-small);
=======
        font-size: 24px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
        font-weight: 400;
    }

    .body-medium {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--body-medium);
=======
        font-size: 20px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .body-small {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--body-small);
=======
        font-size: 18px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .label-medium {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--body-medium);
=======
        font-size: 18px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .label-small {
        font-family: var(--ff-main);
<<<<<<< HEAD
        font-size: var(--body-small);
=======
        font-size: 16px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
    }

    .quote {
        font-family: var(--ff-decorative);
<<<<<<< HEAD
        font-size: var(--body-medium);
=======
        font-size: 20px;
>>>>>>> 2a0b3d440dbc85458b479b63f44ab25841b15304
        
    }

    /* Formulier elementen */

}