/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */


@font-face {
  font-family: Amoria;
  src: url('AMORIA.otf');
}

@font-face {
  font-family: Inter;
  src: url('Inter-VariableFont_opsz\,wght.ttf');
}

@layer styleguide {

    :root{
        /* colours */
        --primary-detail-color:hsl(207, 100%, 14%);
        --secondary-detail-color:hsl(37, 43%, 56%);
        --third-detail-color:hsl(198, 35%, 67%);
        --main-background-color:hsl(0, 0%, 100%);
        --text-color-lightbg:hsl(208, 100%, 10%);
        --text-color-darkbg:hsl(0, 0%, 100%);

        --ff-main: "Inter";
        --ff-decorative: "Amoria";

    }

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    .primary-detail {
        background-color: var(--primary-detail-color);
    }

    .secondary-detail {
        background-color: var(--secondary-detail-color);
    }

    .third-detail {
        background-color: var(--third-detail-color);
    }

    .main-background {
        background-color: var(--main-background-color);
        border: 1px solid;
    }

    .text-lightbg{
        background-color: var(--text-color-lightbg);
    }

    .text-darkbg{
        background-color: var(--text-color-darkbg);
        border: 1px solid;
    }

    /* Typografie */

    .display-large {
        font-family: var(--ff-decorative);
        font-size: 120px;
    }

    .display-medium {
        font-family: var(--ff-decorative);
        font-size: 85px;
    }

    .header-large {
        font-family: var(--ff-main);
        font-size: 50px;
        
    }

    .header-medium {
        font-family: var(--ff-main);
        font-size: 38px;
        font-weight: 400;
    }

    .header-small {
        font-family: var(--ff-main);
        font-size: 24px;
        font-weight: 400;
    }

    .body-medium {
        font-family: var(--ff-main);
        font-size: 20px;
    }

    .body-small {
        font-family: var(--ff-main);
        font-size: 18px;
    }

    .label-medium {
        font-family: var(--ff-main);
        font-size: 18px;
    }

    .label-small {
        font-family: var(--ff-main);
        font-size: 16px;
    }

    .quote {
        font-family: var(--ff-decorative);
        font-size: 20px;
        
    }

    /* Formulier elementen */

}