/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */


@font-face {
  font-family: Amoria;
  src: url('AMORIA.otf');
}

@font-face {
  font-family: Inter;
  src: url('Inter-VariableFont_opsz\,wght.ttf');
}

@layer styleguide {

    :root{
        /* colours */
        --primary-detail:hsl(207, 100, 14);
        --secondary-detail:hsl(37, 43, 56);
        --third-detail:hsl(198, 35, 67);
        --main-background:hsl(0, 0, 100);
        --text-color-lightbg:hsl(208, 100, 10);
        --text-color-darkbg:hsl(0, 0, 100);

        /* fonts */

        --ff-main: "Inter";
        --ff-decorative: "Amoria";

        /* font size */

        --display-large:clamp(3.8rem, -0.825rem + 14.8vw, 7.5rem);
        --display-medium:clamp(2.8rem, -0.325rem + 10vw, 5.3rem);
        --heading-large:clamp(2.3rem, 1.3rem + 3.2vw, 3.1rem);
        --heading-medium:clamp(1.25rem, -0.0625rem + 4.2vw, 2.3rem);
        --heading-small:clamp(1.1rem, 0.6rem + 1.6vw, 1.5rem);
        --body-medium:clamp(1.1rem, 0.9125rem + 0.6vw, 1.25rem);
        --body-small:clamp(1rem, 0.875rem + 0.4vw, 1.1rem);


    }

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    .primary-detail {
        background-color: var(--primary-detail);
    }

    .secondary-detail {
        background-color: var(--secondary-detail);
    }

    .third-detail {
        background-color: var(--third-detail);
    }

    .main-background {
        background-color: var(--main-background);
        border: 1px solid;
    }

    /* Typografie */

    .display-large {
        font-family: var(--ff-decorative);
        font-size: var(--display-large);
    }

    .display-medium {
        font-family: var(--ff-decorative);
        font-size: var(--display-medium);
    }

    .header-large {
        font-family: var(--ff-main);
        font-size: var(--heading-large);
        
    }

    .header-medium {
        font-family: var(--ff-main);
        font-size: 38px;
        font-weight: var(--heading-medium);
    }

    .header-small {
        font-family: var(--ff-main);
        font-size: var(--heading-small);
        font-weight: 400;
    }

    .body-medium {
        font-family: var(--ff-main);
        font-size: var(--body-medium);
    }

    .body-small {
        font-family: var(--ff-main);
        font-size: var(--body-small);
    }

    .label-medium {
        font-family: var(--ff-main);
        font-size: var(--body-medium);
    }

    .label-small {
        font-family: var(--ff-main);
        font-size: var(--body-small);
    }

    .quote {
        font-family: var(--ff-decorative);
        font-size: var(--body-medium);
        
    }

    /* Formulier elementen */

}