/* We gebruiken hier Cascade layers, wat mogelijke problemen met Specificiteit voorkomt
   https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Styling_basics/Cascade_layers
   https://css-tricks.com/css-cascade-layers/ */


@font-face {
  font-family: Night Mango;
  src: url('Night\ Mango.ttf');
}

@font-face {
  font-family: Inter;
  src: url('Inter-VariableFont_opsz\,wght.ttf');
}

@layer styleguide {

    :root{
        /* colours */
        --primary-detail: #002646;
        --secondary-detail: #BF9A5D;
        --third-detail: #8FB8C9;
        --main-background: #FFFFFF;

        --ff-inter: "Inter";
        --ff-night-mango: "Night Mango";

    }

    /* Schrijf hier de verschillende stijlen, die
       gedeeld gaan worden door jullie projecten */

    /* Kleuren */
    .primary-detail {
        background-color: var(--primary-detail);
    }

    .secondary-detail {
        background-color: var(--secondary-detail);
    }

    .third-detail {
        background-color: var(--third-detail);
    }

    .main-background {
        background-color: var(--main-background);
        border: 1px solid;
    }

    /* Typografie */

    .display-large {
        font-family: var(--ff-night-mango);
        font-size: 120px;
    }

    .display-medium {
        font-family: var(--ff-night-mango);
        font-size: 85px;
    }

    .header-large {
        font-family: var(--ff-inter);
        font-size: 50px;
        
    }

    .header-medium {
        font-family: var(--ff-inter);
        font-size: 38px;
        font-weight: normal;
    }

    .header-small {
        font-family: var(--ff-inter);
        font-size: 24px;
        font-weight: normal;
    }

    .body-medium {
        font-family: var(--ff-inter);
        font-size: 20px;
    }

    .body-small {
        font-family: var(--ff-inter);
        font-size: 18px;
    }

    .label-medium {
        font-family: var(--ff-inter);
        font-size: 18px;
    }

    .label-small {
        font-family: var(--ff-inter);
        font-size: 16px;
    }

    .quote {
        font-family: var(--ff-night-mango);
        font-size: 20px;
        
    }

    /* Formulier elementen */

}